
a{ 
 color:#fed136
}

a:hover{
    color:#fec503
 }

#mainNav .navbar-brand{
    color:#fed136;
    font-family:'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'}
        
         
 #mainNav .navbar-nav .nav-item .nav-link{
    font-size:90%;
    font-weight:400;
    padding:.75em 0;
    letter-spacing:1px;
    color:#fff;
    font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'}
        
#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{
    color:#fed136
 }

@media (min-width:992px){
        
#mainNav .navbar-brand{
    font-size:1.75em;
    -webkit-transition:all .3s;
    transition:all .3s
 }
        
 #mainNav .navbar-nav .nav-item .nav-link{
    padding:1.1em 1em!important
 }
        
#mainNav.navbar-shrink .navbar-brand{
    font-size:1.25em;
    padding:12px 0}
}

body {
     text-align:center;color:#fff;
     background-image:url(../slike/naslovna.jpg);
     background-repeat:no-repeat;
     background-attachment:scroll;
     background-position:center center;
     background-size:cover}
header.masthead{
     text-align:center;color:#fff;
     background-image:url(../slike/naslovna.jpg);
     background-repeat:no-repeat;
     background-attachment:scroll;
     background-position:center center;
     background-size:cover}


/* TOOLBAR */
div.toolbar {
    height: 645px;
}


#textOdaberiGrad {
    margin-left: 2px;
    text-align: center;
    margin-top: 0;
    padding: 5px;
    font-size: 19px;
    color: #FBD35A;
}
div.toolbar select, #dugmeRestart {
    margin-bottom: 10%;
    margin-left: 35px;
    text-align: center;
    margin-top: 2%;
    padding: 2px 20px;
    font-size: 19px;
    background: #FBD35A;
    border: 2px solid #030423;
}
/* NASLOV TEXT */
#naslovText {
    margin: 0;
    padding: 20px;
    font-size: 30px;
    box-shadow: white;
    color: red;
    text-shadow: #030423;
}

/* POP UP PROGNOZA */

div.popUp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(rgb(118, 175, 224),#0B2D5B);
    display: block;
    margin:0;
    padding: 0;
    overflow: hidden;
}

div.naslov header{
    margin: 5px;
    color: #FBD35A;
    font-size: 20px;
}

div.temperatura img {
    margin: 4px;
    padding: 4px 4px;
    height: 100px;
    width: 100px;
    float: left;
}
div.temperatura h1{
    color: #FBD35A;
    margin: 10px;
    padding: 10px 10px;
    font-size: 45px;
    float: left;
}
div.ostaliPodaci{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(rgb(118, 175, 224),#0B2D5B);
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div.ostatakVrijeme{
    color: #FBD35A;
    margin: 5px;
    padding-right: 10px;
}
/* Dugmad u nav panelu */
#dugme1 {
    margin-bottom:0;
}

/* MAPA  */
/* sunce proba u info bar */
.popUpSlika {
    width: 35px;
    height: 35px;
}
/* sadaaa */
#map {
    height: 675px;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* **************** */
div.naslov {
    margin: 0;
    padding: 0;
}
div.naslov img {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* REDOVI */
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

* {
    box-sizing: border-box;
}

/* MAPS */
